@import './mixins.scss';

//======= Breakpoints =======//

//  min  = 0px  //
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

// max = 600px  //
.show-on-phone-only {
  @include for-phone-only {
    display: block !important;
  }
}

.hide-on-phone-only {
  @include for-phone-only {
    display: none !important;
  }
}

// min = 600px  //
.show-on-phone-or-tablet-portrait-up {
  @include for-tablet-portrait-up {
    display: block !important;
  }
}

.hide-on-phone-or-tablet-portrait-up {
  @include for-tablet-portrait-up {
    display: none !important;
  }
}

// min = 600px max = 900  //
.show-on-tablet-portrait-only {
  @include for-tablet-portrait-only {
    display: block !important;
  }
}
.hide-on-tablet-portrait-only {
  @include for-tablet-portrait-only {
    display: none !important;
  }
}

// min = 900px  //
.show-on-tablet-landscape-up {
  @include for-tablet-landscape-up {
    display: block !important;
  }
}

.hide-on-tablet-landscape-up {
  @include for-tablet-landscape-up {
    display: none !important;
  }
}

// min = 900px max = 1200  //
.show-on-table-landscape-only {
  @include for-tablet-landscape-only {
    display: block !important;
  }
}

.hide-on-table-landscape-only {
  @include for-tablet-landscape-only {
    display: none !important;
  }
}

// min = 1200px  //
.show-on-desktop-up {
  @include for-desktop-up {
    display: block !important;
  }
}

.hide-on-desktop-up {
  @include for-desktop-up {
    display: none !important;
  }
}

// min = 1200px max = 1800  //
.show-on-desktop-only {
  @include for-desktop-only {
    display: block !important;
  }
}

.hide-on-desktop-only {
  @include for-desktop-only {
    display: none !important;
  }
}

// min = 1200px max = 1800  //
.show-on-big-desktop-up {
  @include for-big-desktop-up {
    display: block !important;
  }
}

.hide-on-big-desktop-up {
  @include for-big-desktop-up {
    display: none !important;
  }
}

//===========================//

.page-title {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin-bottom: 1rem;
}

.helper-text.invalid {
  color: #f44336;
}

.auth-card {
  width: 500px;
  @include for-phone-only{
    width:90%;
    min-width: 300px;
  }
}

.auth-button {
  width: 100%;
}
